<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>this is my page</title>
</head>
<body>
   <h1>welcome to this page 1+2</h1>
   <h3> <%=1+2%></h3>
   <h3> <%=3*8%> </h3>
   <h3> <%= "apnacollege".toUpperCase() %> </h3>
   <h3> <%= ["hello "," namaste "," bonjour "][0] %> </h3>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo culpa voluptates nobis perspiciatis, magnam exercitationem esse doloremque repellat consectetur, quis aperiam laboriosam tempore obcaecati eveniet dolores non porro minima iusto! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid fuga minus, quidem nulla culpa iusto totam nihil debitis explicabo corrupti, accusantium ipsam voluptatibus nesciunt vel fugit, quibusdam corporis in. lorem*100</p>
   <button>click me !</button>
</body>
</html>